<div class="container">
    <div class="row mt-5 mb-5">
        <div class="col-md-12">
            <h1 class="text-center">Sejam Bem Vindos ao meu Blog</h1>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-md-12">
            <p class="text-center">
                Lorem ipsum porta pulvinar praesent ut torquent non eros himenaeos mauris, 
                metus hac fringilla commodo dui ullamcorper vivamus donec conubia gravida, 
                netus eleifend habitant purus sodales suspendisse senectus massa nullam. 
                consectetur volutpat posuere interdum viverra nibh turpis nam tortor, 
                egestas nisl duis aenean augue phasellus dictumst diam, etiam netus sed cubilia potenti ligula aliquam, 
                lorem tempus ultrices est habitant vivamus inceptos. 
                non pellentesque eros elit suscipit id phasellus nostra mi tortor, 
                quis luctus quisque hendrerit porta egestas diam. dui ut mattis tempus duis neque lacinia suscipit, 
                accumsan vivamus suscipit fermentum aliquet curabitur massa nibh, placerat aenean cubilia conubia tortor accumsan. 
            </p>
        </div>
    </div>

    <div class="parallax"></div>

    <div class="row mt-5 mb-5">
        <div class="col-md-12 d-flex justify-content-center">
            <button class="btn btn-outline-dark" routerLink="/feed">Ver o Feed</button>
        </div>
    </div>
</div>